.top_letters{
    position: relative;
    left: 155px;
    top: 34px;
    color: #f1e966;
}
.bottom_letters{
    position: relative;
    left: 155px;
    top: -30px;
    color: #f1e966;
}
.row_numbers:first-child{
    text-align: right;
}

.row_numbers{
    color: #f1e966;
    text-align: left;
    padding: 2px;
    font-size: 20px !important;
    border: 1px solid #000 !important;
    background: none !important;

}

.icon img{
    width: 90%;
}
.icon {
    width: 80px;
    text-align: center;
    cursor: pointer;
}
.jon{
    background-color: #0acf0d;
}
.black_td{
    background-color: #067022;
    text-align: center;
    color: white;
}
.white_td{
    background-color: #e5e0e0;
    text-align: center;
    color: black;
}
table{
    background-color: #000;
    margin: auto;

}
td{
    width: 100px;
    height: 100px;
}
.exercise{
    width: 90%;
    margin: 100px auto;
    height: auto;
    padding: 5px;
}
body{
    background-color: #880069;
}
.chess_cell img{
    width: 35%;
}

.droppable, .ui-droppable, .ui-state-highlight{
    border: none !important;
}