.bahalogo{
    width: 150px;
}
body{
    background-color: #d8d1d1;
}
.w-100{
    height: 700px;
}

html, body{
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 0px;
}
#bahaheader, #bahacarousel, #bahacards, #bahajumbotron {
    border-bottom: 10px solid #5c6ef7;
}
.mycard{
    display: inline-block;
    width: 100%;
    height: 450px;
}
.mycard:first-child{
    float: left;
    width: 33% !important;
}
.mycard:nth-child{
    float: left;
    width: 33% !important;
}
.mycard:last-child{
    float: right;
    width: 33% !important;
}
