#login_form{
    width: 450px;
    height: auto;
    margin: 100px auto;
    border: 1px solid #b1b0b0;
    padding:5px;
    background-color: #ffffff;
    border-radius: 15px;
    text-align: center;
}
body{
    background-color: #eae6e6;
}

#login_form form{
    margin-top: 30px;
}

#login_form input{
    width: 90%;
    height: 50px;
    border-radius: 10px;
    border: 1px solid darkgrey;
}
.btn_login{
    width: 90%;
    background-color: #2b56e1;
}
.btn_login:hover{
    background-color: #f36a03;
    border: 1px solid #7a4500;
}

.btn_signup:hover{
    background-color: #2b8d02;
    border: 1px solid #286b03;
}