body{
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/Andromeda_Galaxy_%28with_h-alpha%29.jpg/1200px-Andromeda_Galaxy_%28with_h-alpha%29.jpg ");
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100%;
}
.salovha{
    text-align: center;
    margin-top: 20px;
    color: #f38b8b;
}
.garaskoplar{
    width: 1300px;
    height: 650px;
    margin: 15px auto;
    border: 5px double red;
    border-radius: 10px;
}
.zadiak img{
    width: 150px;
    border: 5px solid #f32fdb;
    border-radius: 80px;
    margin: 5px;
}

.zadiaklar1{
    text-align: center;
    display: inline-block;
}






