#header{
	text-align: center;
}

#dubai{
	width: 100%;
}

body{
	background-color: #f2ffe8;
}


/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	body{
		background-color: #39ff00;
	}
	#header img{
		width: 25%;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
	body{
		background-color: #ff6a93;
	}
	#header img{
		width: 25%;
	}
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
	body{
		background-color: #380000;
	}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
	body{
		background-color: #7551ff;
	}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
	body{
		background-color: #fff102;
	}
}